// 공통상단
.global_header {
  height: var(--header-height);
  background-color: #65b6ff;
  display: flex;
  border-bottom: 2px solid rgba(255, 255, 255, 0.15);
  position: sticky;
  top: 0;
  z-index: 100;
  .global_header_container {
    height: var(--header-height);
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .company_logo {
      display: flex;
      align-items: center;
      min-width: 250px;
      justify-content: start;
    }
  }
}

// 공통상단 > 로그오프 상태의 메뉴
.gnb_log_off {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-l);
}
.sign_buttons {
  min-width: 250px;
  color: var(--white);
  font-weight: 500;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: var(--space-s);
}

// 공통상단 > 로그온 상태의 메뉴
.gnb_log_on {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-l);
}
.option_buttons {
  min-width: 250px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: var(--space-s);
}

// 공통상단 > 메뉴 버튼
.gnb_button {
  height: var(--header-height);
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  font-weight: 600;
  font-size: var(--text-l);
  position: relative;
  opacity: 0.5;
  &.active {
    opacity: 1;
    &::after {
      content: "";
      width: calc(100% + 3px);
      height: 3px;
      background-color: #fff;
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 100px;
    }
  }
}

// 옵션 버튼
.option_button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &.avatar {
    img {
      border: 2px solid var(--white);
      border-radius: var(--round-full);
    }
  }
  .calendar {
    position: relative;
    width: 100%;
    text-align: center;
    .date {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .month {
        width: 36px;
        color: #65b6ff;
        font-size: var(--text-xxs);
        font-weight: 600;
        line-height: 8px;
        padding: 6px 0 1px 0;
      }
      .today {
        width: 36px;
        color: #65b6ff;
        font-size: var(--text-xs);
        font-weight: 800;
        line-height: 10px;
        padding: 2px 0 4px 0;
      }
    }
    .calendar_icon {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .new_dot {
    width: 10px;
    height: 10px;
    background-color: var(--red);
    border-radius: var(--round-full);
    position: absolute;
    top: 0;
    right: 0;
    -webkit-animation: blink-1 2s infinite both;
    animation: blink-1 2s infinite both;
  }
  @-webkit-keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
  @keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
}
