.study_level_selector {
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--gray3);
  border-radius: var(--round-l);
  padding: var(--space-s) var(--space-m);
  background-color: #fbfdff;
}
